/* line 11, scss/style.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 16, scss/style.scss */
.cf:after {
  clear: both;
}

/* line 19, scss/style.scss */
body.blog {
  background-color: #7ea5d9;
  font-family: Verdana, sans-serif;
}

/* line 20, scss/style.scss */
h1 {
  font-size: 2.0em;
}

/* line 21, scss/style.scss */
#page, .container, .aside1, .content, .aside2, .footer1, .footer2 {
  float: none;
  width: 100%;
}

/* line 25, scss/style.scss */
#page {
  min-width: 740px;
  background: #7ea5d9 center top no-repeat url("images/header-bg.jpg");
  background-size: 100% auto;
  -moz-box-shadow: 0 0 1.5em;
  -webkit-box-shadow: 0 0 1.5em;
  -o-box-shadow: 0 0 1.5em;
  -ms-box-shadow: 0 0 1.5em;
  -khtml-box-shadow: 0 0 1.5em;
  box-shadow: 0 0 1.5em;
}

/* line 30, scss/style.scss */
#main {
  background-color: #fff;
}

/* line 32, scss/style.scss */
#masthead img {
  padding: 0 1.5em .5em;
}

/* line 33, scss/style.scss */
#content {
  -moz-box-shadow: 0 1.5em 1.5em #dddddd;
  -webkit-box-shadow: 0 1.5em 1.5em #dddddd;
  -o-box-shadow: 0 1.5em 1.5em #dddddd;
  -ms-box-shadow: 0 1.5em 1.5em #dddddd;
  -khtml-box-shadow: 0 1.5em 1.5em #dddddd;
  box-shadow: 0 1.5em 1.5em #dddddd;
}

/* line 36, scss/style.scss */
footer#colophon {
  clear: both;
  z-index: 10;
  position: relative;
  background-color: #fff;
  min-height: 150px;
  padding-bottom: 2.0em;
}

/* Commented out to disable mobile sizing */
/*#content {
    clear:both;
    /*background: #CFC; */
}
.aside1 {
    /*background: #FCC; */
}
.aside2 {
    /*background: #CCF; */
}
.footer1 {
    /*background: #FFC; */
}
.footer2 {
    /*background: #CFF; */
}*/
/* repeat of 740 - 825 */
/* line 63, scss/style.scss */
#page {
  margin: 0 auto;
}

/* line 66, scss/style.scss */
.container {
  *position: relative;
  *zoom: 1;
}
/* line 52, scss/zen/_grids.scss */
.container:before, .container:after {
  content: "";
  display: table;
}
/* line 56, scss/zen/_grids.scss */
.container:after {
  clear: both;
}

/* line 69, scss/style.scss */
#primary {
  clear: both;
}

/* line 70, scss/style.scss */
#content {
  float: left;
  width: 56.25%;
  margin-left: 0%;
  margin-right: -56.25%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 74, scss/style.scss */
.aside1 {
  clear: right;
  float: right;
  width: 43.75%;
  margin-right: 0%;
  margin-left: -43.75%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 79, scss/style.scss */
.aside2 {
  clear: right;
  float: right;
  width: 43.75%;
  margin-right: 0%;
  margin-left: -43.75%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 84, scss/style.scss */
.footer1 {
  clear: left;
  float: left;
  width: 50%;
  margin-left: 50%;
  margin-right: -100%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 89, scss/style.scss */
.footer2 {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

/* line 95, scss/style.scss */
.ad {
  border: 2px solid #888;
  padding: 2px;
  margin: 0 auto;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -khtml-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 101, scss/style.scss */
.leaderboard {
  width: 728px;
  height: 90px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* line 107, scss/style.scss */
.medium-rectangle {
  width: 300px;
  height: 250px;
}

/* -------------------------------------------------- */
/* talltabs-blue */
/* -------------------------------------------------- */
/* line 114, scss/style.scss */
.menu-main-container {
  clear: left;
  float: left;
  padding: 0;
  border-top: 6px solid #1f3d72;
  width: 100%;
  overflow: hidden;
  font-size: 2.5em;
  font-variant: small-caps;
  letter-spacing: .1em;
}

/* line 125, scss/style.scss */
.menu-main-container ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  left: 50%;
  text-align: center;
}

/* line 134, scss/style.scss */
.menu-main-container ul li {
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  right: 50%;
}

/* line 143, scss/style.scss */
.menu-main-container ul li a {
  display: block;
  float: left;
  margin: 0 1px 10px 0;
  padding: 10px 10px 6px 10px;
  background: #1f3d72;
  text-decoration: none;
  color: #fff;
}

/* line 154, scss/style.scss */
.main-navigation li.current-menu-item a,
.menu-main-container ul li a:hover {
  padding: 15px 10px 6px 10px;
  margin-bottom: 5px;
}

/* line 159, scss/style.scss */
.menu-main-container ul li.active a,
.menu-main-container ul li.active a:hover {
  padding: 40px 10px 6px 10px;
}

/* Orbit */
/* line 164, scss/style.scss */
.orbit-wrapper div.orbit-caption {
  font-size: 1.8em;
}

/* line 165, scss/style.scss */
#featured {
  background: url(../libs/foundation3/images/foundation/orbit/loading.gif) center center #f4f4f4 no-repeat;
  height: 300px;
}

/* line 166, scss/style.scss */
#featured img {
  display: none;
}

/* line 168, scss/style.scss */
#featured.orbit {
  background: none;
}

/* line 169, scss/style.scss */
#featured.orbit img {
  display: block;
}

@media only screen and (min-width: 625px ) and ( max-width: 1050px ) {
  /* line 172, scss/style.scss */
  #page {
    margin: 0 auto;
  }

  /* line 175, scss/style.scss */
  .container {
    *position: relative;
    *zoom: 1;
  }
  /* line 52, scss/zen/_grids.scss */
  .container:before, .container:after {
    content: "";
    display: table;
  }
  /* line 56, scss/zen/_grids.scss */
  .container:after {
    clear: both;
  }

  /* line 178, scss/style.scss */
  #content {
    float: left;
    width: 56.25%;
    margin-left: 0%;
    margin-right: -56.25%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }

  /* line 182, scss/style.scss */
  .aside1 {
    clear: right;
    float: right;
    width: 43.75%;
    margin-right: 0%;
    margin-left: -43.75%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }

  /* line 187, scss/style.scss */
  .aside2 {
    clear: right;
    float: right;
    width: 43.75%;
    margin-right: 0%;
    margin-left: -43.75%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }

  /* line 192, scss/style.scss */
  .footer1 {
    clear: left;
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }

  /* line 197, scss/style.scss */
  .footer2 {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
@media only screen and (min-width: 1050px ) {
  /* line 204, scss/style.scss */
  #page {
    max-width: 1200px;
    margin: 0 auto;
  }

  /* line 211, scss/style.scss */
  #masthead img {
    padding: 2.0em 1.5em .5em;
  }

  /* line 212, scss/style.scss */
  .container {
    *position: relative;
    *zoom: 1;
  }
  /* line 52, scss/zen/_grids.scss */
  .container:before, .container:after {
    content: "";
    display: table;
  }
  /* line 56, scss/zen/_grids.scss */
  .container:after {
    clear: both;
  }

  /* line 215, scss/style.scss */
  #content {
    float: left;
    width: 50%;
    margin-left: 18.75%;
    margin-right: -68.75%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }

  /* line 219, scss/style.scss */
  .aside1 {
    float: left;
    width: 31.25%;
    margin-left: 68.75%;
    margin-right: -100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }

  /* line 223, scss/style.scss */
  .aside2 {
    float: left;
    width: 18.75%;
    margin-left: 0%;
    margin-right: -18.75%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }

  /* line 227, scss/style.scss */
  .footer1 {
    clear: left;
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }

  /* line 232, scss/style.scss */
  .footer2 {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
