@import "compass/css3";
@import "compass/typography";
@import "compass/utilities";
@import "compass/layout";
@import "compass/support";
@import "zen";// Import Zen Grids with this statement.

$zen-column-count: 16; // Set the total number of columns in the grid.
$zen-gutter-width: 10px; // Set the gutter size. A half-gutter is used on each side of each column.
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
body.blog { background-color:#7ea5d9; font-family: Verdana, sans-serif;}
h1 { font-size:2.0em; }
#page, .container, .aside1, .content, .aside2, .footer1, .footer2 {
    float:none;
    width:100%;
}
#page {
    min-width:740px; background: #7ea5d9 center top no-repeat url('images/header-bg.jpg');
    background-size:100% auto;
    @include experimental(box-shadow, 0 0 1.5em );
}
#main { background-color:#fff; }
#masthead {}
#masthead img {padding:0 1.5em .5em;}
#content {
    @include experimental(box-shadow, 0 1.5em 1.5em #DDD);
}
footer#colophon {
    clear:both;
    z-index:10;
    position:relative;
    background-color:#fff;
    min-height:150px;
    padding-bottom:2.0em;
}
/* Commented out to disable mobile sizing */
/*#content {
    clear:both;
    //background: #CFC;
}
.aside1 {
    //background: #FCC;
}
.aside2 {
    //background: #CCF;
}
.footer1 {
    //background: #FFC;
}
.footer2 {
    //background: #CFF;
}*/

/* repeat of 740 - 825 */
    #page {
        margin:0 auto;
    }
    .container {
        @include zen-grid-container; // Apply this mixin to the container.
    }
    #primary { clear:both; }
    #content {
        @include zen-grid-item(9, 1); // Make this grid item span 8 columns. // Position this grid item in the 4th column.
        //background: #CFC;
    }
    .aside1 {
        @include zen-clear(right);
        @include zen-grid-item(7, 1, right); // Apply this mixin for each grid item in the container.
        //background: #FCC;
    }
    .aside2 {
        @include zen-clear(right);
        @include zen-grid-item(7, 1, right);
        //background: #CCF;
    }
    .footer1 {
        @include zen-clear(); // Apply this mixin to start a new row.
        @include zen-grid-item(8, 9);
        //background: #FFC;
    }
    .footer2 {
        @include zen-grid-item(8, 1);
       //background: #CFF;
    }


.ad {
    border:2px solid #888;
    padding:2px;
    margin:0 auto;
    @include experimental(box-sizing, content-box);
}
.leaderboard {
    width:728px;
    height:90px;
    margin-top:5px;
    margin-bottom:10px;
}
.medium-rectangle {
    width:300px;
    height:250px;
}
/* -------------------------------------------------- */
/* talltabs-blue */
/* -------------------------------------------------- */
.menu-main-container {
    clear:left;
    float:left;
    padding:0;
    border-top:6px solid #1f3d72;
    width:100%;
    overflow:hidden;
    font-size: 2.5em;
    font-variant: small-caps;
    letter-spacing: .1em;
}
.menu-main-container ul {
    float:left;
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
    left:50%;
    text-align:center;
}
.menu-main-container ul li {
    display:block;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    right:50%;
}
.menu-main-container ul li a {
    display:block;
    float:left;
    margin:0 1px 10px 0;
    padding:10px 10px 6px 10px;
    background:#1f3d72;
    text-decoration:none;
    color:#fff;
}

.main-navigation li.current-menu-item a,
.menu-main-container ul li a:hover {
    padding:15px 10px 6px 10px;
    margin-bottom:5px
}
.menu-main-container ul li.active a,
.menu-main-container ul li.active a:hover {
    padding:40px 10px 6px 10px;
}

/* Orbit */
.orbit-wrapper div.orbit-caption {font-size: 1.8em;}
#featured { background: url(../libs/foundation3/images/foundation/orbit/loading.gif) center center #f4f4f4 no-repeat; height: 300px; }
#featured img { display: none; }

#featured.orbit { background: none; }
#featured.orbit img { display: block; }

@media only screen and (min-width: 625px ) and ( max-width: 1050px )    {
    #page {
        margin:0 auto;
    }
    .container {
        @include zen-grid-container; // Apply this mixin to the container.
    }
    #content {
        @include zen-grid-item(9, 1); // Make this grid item span 8 columns. // Position this grid item in the 4th column.
        //background: #CFC;
    }
    .aside1 {
        @include zen-clear(right);
        @include zen-grid-item(7, 1, right); // Apply this mixin for each grid item in the container.
        //background: #FCC;
    }
    .aside2 {
        @include zen-clear(right);
        @include zen-grid-item(7, 1, right);
        //background: #CCF;
    }
    .footer1 {
        @include zen-clear(); // Apply this mixin to start a new row.
        @include zen-grid-item(8, 9);
        //background: #FFC;
    }
    .footer2 {
        @include zen-grid-item(8, 1);
        //background: #CFF;
    }
    
}
@media only screen and (min-width: 1050px ) {
    #page {
        max-width:1200px;
        margin:0 auto;
    }
    #masthead {
        //padding:.5em 1em;
    }
    #masthead img {padding:2.0em 1.5em .5em;}
    .container {
        @include zen-grid-container; // Apply this mixin to the container.
    }
    #content {
        @include zen-grid-item(8, 4); // Make this grid item span 8 columns. // Position this grid item in the 4th column.
        //background: #CFC;
    }
    .aside1 {
        @include zen-grid-item(5, 12);
        //background: #FCC;
    }
    .aside2 {
        @include zen-grid-item(3, 1); // Apply this mixin for each grid item in the container.
        //background: #CCF;
    }
    .footer1 {
        @include zen-clear(); // Apply this mixin to start a new row.
        @include zen-grid-item(8, 9);
        //background: #FFC;
    }
    .footer2 {
        @include zen-grid-item(8, 1);
        //background: #CFF;
    }
}
